In [1]:
print("hello~~")

hello~~

In [2]:
a = 0o177

In [6]:
print(a)

127

In [4]:
b = 0xabc

In [7]:
print(b)

2748

In [8]:
a
b

2748

In [9]:
print(a)
print(b)

127
2748

In [10]:
7%3

1

In [11]:
7/3

2.3333333333333335

In [12]:
7//3

2

In [15]:
'he
llo'

SyntaxError: EOL while scanning string literal (<ipython-input-15-4049ecf46d38>, line 1)

In [14]:
"hello"

'hello'

In [17]:
'''he
llo'''

'he\nllo'

In [18]:
print("hello! '안녕?'")

hello! '안녕?'

In [19]:
"안녕    "안녕"***아"

SyntaxError: invalid syntax (<ipython-input-19-80716b1db5bc>, line 1)

In [20]:
"hi" + " !!!"

'hi !!!'

In [21]:
"hi" * 3

'hihihi'

In [22]:
"-" * 50

'--------------------------------------------------'

In [23]:
3 + "555"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
b = "hello~"

In [25]:
len(b)

6

In [27]:
a = "Life is too short, You need Python"

In [29]:
a[0]

'L'

In [30]:
a[-1]

'n'

In [32]:
len(a)

34

In [39]:
a[28:33]

'Pytho'

In [40]:
a[28:34]

'Python'

In [41]:
a[8:]

'too short, You need Python'

In [42]:
a[:8]

'Life is '

In [43]:
a[:]

'Life is too short, You need Python'

In [44]:
a

'Life is too short, You need Python'

In [45]:
a[19:-7]

'You need'

In [46]:
a = "pithon"

In [49]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [50]:
a[:1]+'y'+a[2:]

'python'

In [53]:
print("I eat %d apples." %3)

I eat 3 apples.

In [56]:
print("I eat %s apples." %"five")

I eat five apples.

In [60]:
print("%s I eat %d apple." %("hi!", 1))

hi! I eat 1 apple.

In [72]:
print("Error is %d%%" %99)

Error is 99%

In [69]:
print("%10s I eat %d apple." %("hi!", 1))

       hi! I eat 1 apple.

In [70]:
print("%10s I eat %d apple." %("hi!hi!hi!hi!hi!hi!hi!", 1))

hi!hi!hi!hi!hi!hi!hi! I eat 1 apple.

In [71]:
print("%-10s I eat %d apple." %("hi!", 1))

hi!        I eat 1 apple.

In [73]:
print("Error is %.1f%%" %99.9)

Error is 99.9%

In [78]:
print("%.3f%%" %3.34567)

3.346%

In [80]:
print("%.1f%%" %3.34567)

3.3%

In [83]:
print("%s I eat %10.1f%% apple." %("hi!", 4.35468))

hi! I eat        4.4% apple.

In [86]:
say = "I eat {} apples"

In [87]:
say

'I eat {} apples'

In [95]:
type(say)

str

In [90]:
say.format("aaa")

'I eat aaa apples'

In [91]:
say.format(3)

'I eat 3 apples'

In [93]:
say.format(3.2)

'I eat 3.2 apples'

In [94]:
say = "{} I eat {} apples"

In [97]:
type(say)

str

In [98]:
say.format("say", 22.2)

'say I eat 22.2 apples'

In [99]:
say = "{1} I eat {0} apples"

In [100]:
say.format("say", 22.2)

'22.2 I eat say apples'

In [101]:
say = "{number} I eat {day} apples"

In [103]:
say.format(111, "2020/07/02")

KeyError: 'number'

In [104]:
say.format(number=111, day="2020/07/02")

'111 I eat 2020/07/02 apples'

In [105]:
say = "{0:<20} I eat {day} apples"

In [106]:
say.format(111, day="2020/07/02")

'111                  I eat 2020/07/02 apples'

In [107]:
say = "{0:>20} I eat {day} apples"

In [108]:
say.format(111, day="2020/07/02")

'                 111 I eat 2020/07/02 apples'

In [109]:
say = "{0:^20} I eat {day} apples"
say.format(111, day="2020/07/02")

'        111          I eat 2020/07/02 apples'

In [110]:
say = "{0:=^20} I eat {day} apples"
say.format(111, day="2020/07/02")

'========111========= I eat 2020/07/02 apples'

In [113]:
say = "{0:*^20} I eat {day} apples"
say.format(111, day="2020/07/02")

'********111********* I eat 2020/07/02 apples'

In [116]:
say = "{0:^20.2f} I eat {day} apples"
say.format(111.45678, day="2020/07/02")

'       111.46        I eat 2020/07/02 apples'

In [119]:
say = "{{중괄호}} I eat {day} apples"
say.format(day="2020/07/02")

'{중괄호} I eat 2020/07/02 apples'

In [120]:
d = {'name':'홍길동', 'age':30}

In [122]:
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}살입니다.'

'나의 이름은 홍길동입니다. 나이는 30살입니다.'

In [123]:
a = "hobby"

In [126]:
type(a)

str

In [128]:
a.count("b")

2

In [129]:
a.count?

Docstring:
S.count(sub[, start[, end]]) -> int

Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation.
Type:      builtin_function_or_method

In [130]:
'shi@gmail.com'.count('@')

1

In [131]:
a = "Python is the best choice"

In [134]:
a.find('o')

4

In [135]:
a.find('k')

-1

In [138]:
a.index('o')

4

In [139]:
a.index('k')

ValueError: substring not found

In [140]:
",".join('abcd')

'a,b,c,d'

In [141]:
" ".join('abcd')

'a b c d'

In [150]:
",".join(['a','b','12','dd'])

'a,b,12,dd'

In [151]:
a = "hi"

In [152]:
a.upper() # 모든 글자 대문자로 변경

'HI'

In [153]:
a = "HI"

In [154]:
a.lower() # 모든 글자 소문자로 변경

'hi'

In [21]:
a = "kim"

In [22]:
a.capitalize() # 첫글자만 대문자로

'Kim'

In [5]:
b = "          hi          "

In [6]:
b.lstrip() # 왼쪽 공백 제거

'hi          '

In [10]:
b.rstrip() # 오른쪽 공백 제거

'          hi'

In [12]:
b.strip() # 양쪽 공백 제거

'hi'

In [13]:
a = "Life is too short"

In [16]:
aa = a.replace("Life", "Your leg")

In [15]:
a

'Life is too short'

In [17]:
aa

'Your leg is too short'

In [18]:
a.split()

['Life', 'is', 'too', 'short']

In [19]:
b = "Life,is,too,short"

In [20]:
b.split(",")

['Life', 'is', 'too', 'short']

(튜플) : 만들고 나서는 변경 불가, 순서 있음(index)
[리스트] : 순서있음(index)
set {값} : 순서없음
dic {"키","값"} : 순서없음

# 2-3 리스트 자료형

In [25]:
a = []

In [26]:
b = list()

In [27]:
type(a)

list

In [28]:
type(b)

list

In [30]:
c = ['life', 'is', 'too', 'short', 1, 2, ['love', 'you', [1,2,3]]]

In [31]:
c

['life', 'is', 'too', 'short', 1, 2, ['love', 'you', [1, 2, 3]]]

In [32]:
type(c)

list

In [33]:
c[1]

'is'

In [35]:
c[6][0]

'love'

In [36]:
c[6][2][2]

3

In [42]:
d = ['life', 'is', 'too', 'short', 1, 2, ['love', 'you', {'1':"a", '2':"b", '3':"c"}]]

In [44]:
d[6][2]['2']

'b'

In [45]:
d[2:4]

['too', 'short']

In [47]:
d[-2:]

[2, ['love', 'you', {'1': 'a', '2': 'b', '3': 'c'}]]

In [48]:
a = [1, 2, 3]

In [49]:
b = [4, 5, 6]

In [50]:
a + b

[1, 2, 3, 4, 5, 6]

In [51]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [53]:
len(a)

3

In [54]:
a = input("숫자를 입력하세요")

숫자를 입력하세요 45

In [55]:
a

'45'

In [56]:
type(a)

str

In [57]:
b = int(a)

In [58]:
b

45

In [59]:
type(b)

int

In [60]:
c = float(a)

In [64]:
c

45.0

In [65]:
type(c)

float

In [66]:
d = 'q'

In [67]:
int(d)

ValueError: invalid literal for int() with base 10: 'q'

In [72]:
a.isdecimal()

True

In [76]:
a = [1, 2, 3]

In [77]:
a[1] = 4 # 1의 위치 값 변경

In [78]:
a

[1, 4, 3]

In [79]:
del a[1] # 1의 위치 값 제거

In [80]:
a

[1, 3]

In [81]:
del a # 데이터 지우기

In [82]:
a

NameError: name 'a' is not defined

In [117]:
a = [1, 4, 3, 2]

In [88]:
a.sort(reverse=False) # 정렬하기

In [89]:
a

[1, 2, 3, 4]

In [90]:
a.sort(reverse=True) # 역순으로 정렬하기

In [91]:
a

[4, 3, 2, 1]

In [92]:
type(a)

list

In [93]:
a

[4, 3, 2, 1]

In [94]:
a.append(5) # 마지막에 값(5) 추가

In [95]:
a

[4, 3, 2, 1, 5]

In [96]:
a.insert(0, 7) # 내가 원하는 위치에 원하는 값 추가 # insert(위치,값)

In [97]:
a

[7, 4, 3, 2, 1, 5]

In [98]:
a.reverse() # 모든 위치를 뒤바꿈

In [99]:
a

[5, 1, 2, 3, 4, 7]

In [100]:
a.reverse?

Signature: a.reverse()
Docstring: Reverse *IN PLACE*.
Type:      builtin_function_or_method

In [102]:
a.index(7) # 값의 위치를 출력

5

In [103]:
b = ['b', 'c', 'y', 'a']

In [104]:
b.index('c')

1

In [105]:
b.index('t')

ValueError: 't' is not in list

In [106]:
a

[5, 1, 2, 3, 4, 7]

In [107]:
a.remove(2) # 원하는 값 제거

In [108]:
a

[5, 1, 3, 4, 7]

In [109]:
a.insert(2, 4)

In [110]:
a

[5, 1, 4, 3, 4, 7]

In [111]:
a.remove(4) # 4가 여러개 있다면 첫번째 4만 제거된다.

In [112]:
a

[5, 1, 3, 4, 7]

In [113]:
a.pop(3) # 원하는 위치 값을 출력해주고 제거

4

In [114]:
a

[5, 1, 3, 7]

In [115]:
len(a)

4

In [120]:
a.count(3) # 3이 몇 개인지

1

# 튜플 자료형

In [121]:
t1 = ()

In [122]:
type(t1)

tuple

In [129]:
t2=(1)

In [130]:
t2

1

In [131]:
type(t2)

int

In [132]:
t2=(1,)

In [133]:
t2

(1,)

In [134]:
type(t2)

tuple

In [135]:
t4 = 1, 2, 3 # 튜플은 여러개 있을 때 괄호 생략 가능

In [136]:
type(t4)

tuple

In [137]:
t5 = (1,2,3,4,(1,2,3,4))

In [138]:
type(t5)

tuple

In [139]:
t5[4][0]

1

In [142]:
t5[2] = 4 # 튜플은 변경 불가

TypeError: 'tuple' object does not support item assignment

In [143]:
t5

(1, 2, 3, 4, (1, 2, 3, 4))

# 딕셔너리 자료형

In [189]:
dic = {"a":[1,2,3], 2:{1:1}, 3:(2,4)}

In [190]:
dic

{'a': [1, 2, 3], 2: {1: 1}, 3: (2, 4)}

In [191]:
dic[2][1]

1

In [192]:
dic[2][1] = [2, "sj"]

In [193]:
dic[2][1][1]

'sj'

In [194]:
dic

{'a': [1, 2, 3], 2: {1: [2, 'sj']}, 3: (2, 4)}

In [195]:
dic.keys()

dict_keys(['a', 2, 3])

In [196]:
dic.values()

dict_values([[1, 2, 3], {1: [2, 'sj']}, (2, 4)])

In [197]:
dic.items()

dict_items([('a', [1, 2, 3]), (2, {1: [2, 'sj']}), (3, (2, 4))])

In [201]:
for k in dic.keys():
    print(k)
    print(dic[k])

a
[1, 2, 3]
2
{1: [2, 'sj']}
3
(2, 4)

In [170]:
list1 = list(dic.keys())

In [171]:
list2 = dic.keys()

In [173]:
list2.isdisjoint()

TypeError: isdisjoint() takes exactly one argument (0 given)

In [174]:
dic

{'a': [1, 2, 3], 2: {1: [2, 'sj']}, 3: (2, 4)}

In [175]:
dic.clear() # dic 안에 내용 제거 # 완전히 제거하려면 del을 사용할 것.

In [176]:
dic

{}

In [177]:
dic = {"a":[1,2,3], 2:{1:[2, 'sj']}, 3:(2,4)}

In [178]:
dic['a']

[1, 2, 3]

In [180]:
dic.get(1)

In [182]:
dic.get?

Signature: dic.get(key, default=None, /)
Docstring: Return the value for key if key is in the dictionary, else default.
Type:      builtin_function_or_method

In [202]:
a = {'name':'홍길동'}

In [203]:
'name' in a

True

In [204]:
'email' in a

False

# 집합 자료형

In [205]:
s1 = set([1, 2, 3, 3]) # 중복된 값은 버리고 하나만 들어간다.

In [206]:
s1

{1, 2, 3}

In [207]:
s2 = set("Hello")

In [208]:
s2

{'H', 'e', 'l', 'o'}

In [210]:
l1 = [1,2,3,4,5,6,7]

In [211]:
l2 = [4,5,6,7,8,9]

In [212]:
totli = l1 + l2

In [213]:
totli

[1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 9]

In [214]:
l3 = set(totli)

In [215]:
l3

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [216]:
s1 = set([1,2,3,4,5,6])

In [217]:
s2 = set([4,5,6,7,8,9])

In [218]:
s1 & s2 # 교집합

{4, 5, 6}

In [220]:
s1|s2 # 합집합 (중복된 값은 1개만 가져옴)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [221]:
s1-s2 # 차집합

{1, 2, 3}

In [222]:
s2-s1 # 차집합

{7, 8, 9}

In [223]:
s1

{1, 2, 3, 4, 5, 6}

In [226]:
s1.add(4)

In [227]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [228]:
s1.add(7) # 값 1개 추가하기

In [229]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [231]:
s1.update([9,10,11]) # 값 여러개 추가하기

In [232]:
s1

{1, 2, 3, 4, 5, 6, 7, 9, 10, 11}

In [233]:
s1.update?

Docstring: Update a set with the union of itself and others.
Type:      builtin_function_or_method

In [234]:
s1.remove(2) # 값 제거하기

In [237]:
s1

{1, 3, 4, 5, 6, 7, 9, 10, 11}

# 불 자료형

In [238]:
1==2

False

In [241]:
a = True
b = False

In [242]:
type(a)

bool

In [7]:
a = [1, 2, 3]

In [8]:
while a:
    print(a.pop())

3
2
1

In [9]:
a

[]

In [10]:
if a:
    print("참")
else:
    print("거짓")

거짓

In [36]:
a = [1, 2, 3]

In [12]:
if a:
    print("참")
else:
    print("거짓")

참

In [37]:
a

[1, 2, 3]

In [14]:
b = a

In [15]:
b

[1, 2, 3]

In [16]:
id(a)

2394789604680

In [17]:
id(b)

2394789604680

In [19]:
a is b # a == b 와 동일한 의미

True

In [20]:
b = [4, 5, 6]

In [21]:
id(a)

2394789604680

In [22]:
id(b)

2394789331080

In [23]:
a is b

False

In [24]:
b = a

In [25]:
a is b

True

In [26]:
a

[1, 2, 3]

In [27]:
b

[1, 2, 3]

In [29]:
a.insert(2,4)

In [30]:
b # 같은 주소여서 a와 동일하게 4가 추가됨

[1, 2, 4, 3]

In [31]:
a

[1, 2, 4, 3]

In [32]:
a[1] = 4

In [33]:
a

[1, 4, 4, 3]

In [34]:
b

[1, 4, 4, 3]

In [38]:
from copy import copy

In [39]:
a = [1, 2, 3]

In [40]:
b = copy(a) # 데이터는 같지만 주소값은 다르게 복사됨

In [41]:
id(a)

2394779445448

In [42]:
id(b)

2394788411400

In [43]:
a

[1, 2, 3]

In [44]:
b

[1, 2, 3]

In [45]:
a is b

False

In [46]:
a, b = ('python', 'life')

In [47]:
a

'python'

In [48]:
b

'life'

In [49]:
(a, b) = 'python', 'life'

In [50]:
a

'python'

In [51]:
b

'life'

In [52]:
[a, b] = ['python', 'life']

In [53]:
a

'python'

In [54]:
b

'life'

In [55]:
a = 3

In [56]:
b = 5

In [57]:
a, b = b, a # a와 b의 값을 바꿈

In [58]:
a

5

In [60]:
b

3