In [4]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [5]:
print(add_mul('add',1,2,3,4,5,6,7,8))

36

In [6]:
print(add_mul('mul',1,2,3,4,5,6,7,8))

40320

In [7]:
def print_kwargs(**kwargs):
    print(kwargs)

In [8]:
print_kwargs(name='kim', age=26, addr='대구')

{'name': 'kim', 'age': 26, 'addr': '대구'}

In [9]:
def add_and_mul(a,b):
    return a+b, a*b

In [10]:
add_and_mul(3,4)

(7, 12)

In [11]:
type(add_and_mul(3,4))

tuple

In [12]:
add, mul = add_and_mul(3,4)

In [15]:
print(add)

7

In [16]:
type(add)

int

In [32]:
def say_myself(name, old, *addr, man=True):
    print("나의 이름은 ", name, "입니다.")
    print("나의 나이는 ", old, "세 입니다.")
    if man:
        print("남자")
    else:
        print("여자")
    for i in addr:
        print(i)

In [34]:
say_myself("김승재", 26, "대구", "부산", "광주", man=False)

나의 이름은  김승재 입니다.
나의 나이는  26 세 입니다.
여자
대구
부산
광주

In [41]:
a = 1
def vartest(a):
    a = a + 1

None